<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel Planning App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>
<div id = "app">
  <div class ="headline">
    TRAVEL PLANNER
  </div>
  <div class ="holder">
    <label for="destination">Destination City:</label>
    <input type="text" id="destinationCity" placeholder="Enter Destination">
  </div>
  <div class ="holder">
    <label for="departure">Departure Date:</label>
    <input type="date" id="departureDate" placeholder="">
    <label for="return">Return Date:</label>
    <input type="date" id="returnDate" placeholder="">
    <button id="generate" type = "submit" onclick="return " onsubmit="return "> Generate Flight Information </button>
  </div>
  <div class="imgPixa" >
    <img src="" alt ="." id="fromPixabay">
  </div>
  <div class ="dataContent">
    <label for="results">Results:</label>
    <label class ="dataContent" id = "city" ></label>
   <label class ="dataContent" id = "temp"> </label>
   <label class ="dataContent" id = "description"></label>
   <label class ="dataContent" id = "countdown">  </label>
   <label class ="dataContent" id = "tripLength"> </label>
  </div>
  </div>
  <!-- <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
   </script> -->

</body>
</html>