<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel Planning App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>
<div id = "app">
  <div class ="headline">
    TRAVEL PLANNER
  </div>
  <div class ="holderDest">
    <label for="destination">Destination City:</label>
    <input type="text" id="destinationCity" placeholder="Enter Destination">
  </div>
  <div class ="holderDep">
    <label for="departure">Departure Date:</label>
    <input type="date" id="departureDate" placeholder="">
    <button id="generate" type = "submit" onclick="return " onsubmit="return "> Generate Flight Information </button>
  </div>
  <div class ="dataContent">
    <div class = "title">Results: </div>
    <div class ="dataContent" id = "city">city</div> 
   <div class ="dataContent" id = "temp">temp is </div>
   <div class ="dataContent" id = "description">description</div>
   <div class ="dataContent" id = "countdown"> Countdown </div>
  </div>
  </div>
  </div>
<script ></script>

</body>
</html>