body{
    background: #e9d7b7;
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display:grid;
    grid-auto-rows: minmax(50px, auto); 
    grid-template-columns: minmax(3, 2fr);
    height: 100vh;
    background: #73ebbd77;
    background-image: url('../media/balloons.jpg');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    border-radius: 15px;
    position: relative;  
    width: auto;
    //color: #411b07;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

.headline{
    font-size: 50px;
    padding: 0px;
    letter-spacing: 20px;
    color: #411b07;
    justify-self: center;
    text-align: center;
    grid-column: 2/3;
      text-shadow: -1px 0 rgb(253, 203, 0), 0 1px black, 1px 0 black, 0 -1px black;
}

.entry{
    background: #1f57349c;
}

.dataContent{
    display:block;
    height: 50px;
    width:300px;
    font-size: 27px;
    background:#a5acac77;
    margin: 5px;
    //border-radius: 10px;
    grid-column: 3;
    grid-row: 2;
    
}
.holder{
    grid-column: 1;
}

#fromPixabay {
    //border: black 1px solid;
    max-width: 500px;
    max-height: 500px;
    margin: 10px;
    grid-column: 3;
    grid-row: 3;
}

label{
    display:grid;
    height: 50px;
    width: 200px;
    font-size: 27px;
    //background:#a5acac77;  
    //border-radius: 10px;
    align-content: center;
}

input{
    display:grid;
    height: 50px;
    width: 200px;
    background:#a5acac77;
    color: #1f5734;
    font-size: 23px;
    font-family: 'Oswald', sans-serif;
    border: none;
    //border-radius: 10px;
    //align-content: left;
    grid-column: 2;
}

button{
    width: 200px;
    height: 90px;
    background: #a5acacbf;
    color: #1f5734;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;;
    border: none;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}
button:hover{
    background: #572e1f;
    color: #d6be36;
   // border: solid #d6be36; 
    border-radius: 10px;
}
button:active{
    background: #572e1f;
    color: #d6be36;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
    border-radius: 10px;
}
// h1{
//     //font-size: 30px;
// }

textarea{
    background: #1f5734;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    height: 200px;
    width: 420px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #1f5734; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 