body{
    background: #e6ecec;
    margin: 100px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display:grid;
    grid-auto-rows: minmax(50px, auto); 
    grid-template-columns: minmax(3, 2fr);
    height: 70vh;
    background: #73ebbd77;
    //background-image: url('../media/balloons.jpg');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    border-radius: 15px;
    position: relative;  
	height: auto;
    width: auto;
    color: #1f5734;
    justify-content: center ;
    grid-gap: 10px;
    font-size: 70px;
    font-family: 'Oswald', sans-serif;
}

.headline{
    padding: 5px;
    letter-spacing: 25px;
    justify-self: center;
    text-align: center;
}

.entry{
    background: #1f57349c;
}

.dataContent{
    //display:grid;
    height: 50px;
    max-width:500px;
    font-size: 27px;
    background:#a5acac9f;
    //justify-content: center;
    //border-radius: 10px;
    grid-column: 3;
    
}
.holder{
    grid-column: 1;
}
#fromPixabay {
    border: black 1px solid;
    max-width: 500px;
    max-height: 500px;
    grid-area:  2;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:grid;
    height: 50px;
    width: 250px;
    font-size: 27px;
    //background:#a5acac9f;     ;
    //border-radius: 10px;
    align-content: left;
}

input{
    display:grid;
    height: 50px;
    width: 200px;
    background:#a5acac9f;
    color: #1f5734;
    font-size: 23px;
    font-family: 'Oswald', sans-serif;
    border: none;
    //border-radius: 10px;
    //align-content: left;
    grid-column: 1/2;
}

button{
    width: 200px;
    height: 90px;
    background: #a5acacbf;
    color: #1f5734;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;;
    border: none;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}
button:hover{
    background: #1f5734;
    color: #d6be36;
    border: solid #d6be36; 
    border-radius: 10px;
}
button:active{
    background: #1f5734;
    color: #d6be36;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
    border-radius: 10px;
}
h1{
    font-size: 30px;
}

textarea{
    background: #1f5734;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    height: 200px;
    width: 420px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #1f5734; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 